@font-face {
    font-family: "Paris 2024";
    src: url("polices/paris2024.woff2") format("woff2"),
         url("polices/paris2024.woff") format("woff");
}

@font-face {
    font-family: "Helvetica World";
    src: url("polices/helveticaworld.woff2") format("woff2"),
         url("polices/helveticaworld.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica World', Helvetica, sans-serif;
    color: white;
}

main, article {
    padding: 2em;
    margin: 1em;
}

header, h1, h2, h3 {
    font-family: "Paris 2024", Arial, sans-serif;
}

h1, h2, h3 {
    margin-bottom: 10px;
    background-color: #574D80;

}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

header {
    background-color: #574D80;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template: auto / 10% 1fr 10%;
    padding: 10px 0;
}

header img {
    width: 120px;
}

header nav {
    display: flex;
    flex-grow: 1;
}

header ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}

section {
    background-color: #796BB3;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

article {
    background-color: #574D80;
    border-radius: 8px;
    width: 33%;
}

table {
    border-collapse: collapse;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


th {
    background-color: #574D80;
}

tr {
    height: 6vh;
}

td {
    padding: 10px;
    background-color: white;
    color: black;
}

td:not(:nth-child(2)) {
    text-align: center;
}

td img[alt*="Drapeau"] {
    width: 30px;
    height: 20px;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid black;
}

footer {
    background-color: #796BB3;
    padding: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:hover {
    color: #574D80;
}

.horizontal {
    display: flex;
}

.acceuil-grid {
    display: grid;
    grid-template: auto auto / 1fr auto;
}

.acceuil-grid :nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.acceuil-grid :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.acceuil-grid :nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
}

#a img {
    width: 100%;
    margin: 0;
    display: block;
}

#a {
    padding: 0;
}

#a div {
    padding: 0px 20px 20px 20px;
}

#a h1 {
    text-indent: 20px;
    display: block;
    padding: 10px 0;
}

#escrime .horizontal {
    display: flex;
}

#escrime section > figure,
#escrime section > h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#escrime section > figure img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#escrime section h1 {
    text-align: center;
    margin-bottom: 20px;
}

#escrime section > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

#escrime section > div > div {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

#escrime section > div > div > img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

#escrime section > div > div > div > h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#escrime section > div > div > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#escrime section > div > div > div > ul > li {
    margin-bottom: 5px;
}

#escrime .horizontal section{
    width: 50%;
}

#escrime section div div div ul{
    color: black;
}

#escrime section ul, #escrime section table{
    width: 100%;
}


#escrime section > div > div img {
    transition: transform 0.3s ease;
}

#escrime section > div > div img:hover {
    transform: scale(1.1);
}

#escrime h1{
    width: 100%;
}

#escrime section > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#escrime section > figure img {
    max-width: 100px;
    height: auto;
}

#escrime section ul:not(#escrime section div div ul) {
    margin: 80px auto;
    padding: 10px;
    list-style: none;
    background-color: #574D80;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 6px black; 
}



@media (max-width: 768px) {
    #escrime .horizontal {
        display: block;
    }
    #escrime .horizontal article {
        width: 100%;
        margin-bottom: 20px;
    }

    #escrime section table {
        width: 100%;
        margin-bottom: 20px;
    }

    #escrime section ul {
        margin-bottom: 20px;
    }

    #escrime section > div > div {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }

    #escrime section > div > div img {
        margin: 0 auto;
        display: block;
    }

    #escrime section > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #escrime section > div > div {
        width: 100%;
        margin: 0 auto;
    }

    #escrime .horizontal section{
        width: 88%;
    }

    #escrime .horizontal article{
        width: 80%;
    }
}