header, footer, main, div, article {
    padding: 2em;
    margin: 1em;
}

header {
    background-color: #BCAB6A;
    color: white;
    border-radius: 8px;
}

header img {
    width: 110px;
    height: 80px;
}

header nav ul li {
    display: inline;   
}

nav {
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
}

div {
    background-color: #BCAB6A;
    border-radius: 8px;
}

div article {
    background-color: #EDE6CA;
    border-radius: 8px;
    width: 33%;
}

div div {
    background-color: #D6C278;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

th {
    background-color: #D6C278;
}

tr {
    height: 6vh;
}

td {
    text-align: center;
    padding: 10px;
    background-color: white;
}

td img {
    width: 35px;
    border-radius: 3px;
}

footer {
    background-color: #BCAB6A;
    border-radius: 8px;
}