@font-face {
    font-family: "Paris 2024";
    src: url("polices/paris2024.woff2") format("woff2"),
         url("polices/paris2024.woff") format("woff");
}

@font-face {
    font-family: "Helvetica World";
    src: url("polices/helveticaworld.woff2") format("woff2"),
         url("polices/helveticaworld.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica World', Helvetica, sans-serif;
    color: white;
}

main, article {
    padding: 2em;
    margin: 1em;
}

header, h1, h2, h3 {
    font-family: "Paris 2024", Arial, sans-serif;
}

h1, h2, h3 {
    background-color: #574D80;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

header {
    background-color: #574D80;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template: auto / 10% 1fr 10%;
    padding: 10px 0;
}

header img {
    width: 120px;
}

header nav {
    display: flex;
    flex-grow: 1;
}

header ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}

section {
    background-color: #796BB3;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

article {
    background-color: #574D80;
    border-radius: 10px;
    overflow: hidden;
}

section, article {
    padding: 0;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    border: 10px solid #574D80;
}

th {
    background-color: #796BB3;
}

tr {
    height: 6vh;
}

td {
    padding: 10px;
    background-color: white;
    color: black;
}

td:not(:nth-child(2)) {
    text-align: center;
}

td img[alt*="Drapeau"] {
    width: 30px;
    height: 20px;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid black;
}

footer {
    background-color: #574D80;
    padding: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:hover {
    color: #574D80;
}

/* Accueil */

#accueil main > div {
    display: grid;
    grid-template: auto auto / 1fr auto;
}

#accueil main > div > :first-child {
    grid-area: 1 / 1 / 2 / 2;
}

#accueil main > div > :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

#accueil main > div > :nth-child(2) div {
    display: flex;
    flex-wrap: wrap;
}

#accueil main > div > :nth-child(2) div article {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 10px;
}

#accueil main > div > :nth-child(2) div img {
    max-width: 100%;
    height: auto;
}

#accueil main > div > :nth-child(2) div article p,
#accueil h3
{
    margin: 0 20px;
    padding-bottom: 10px;
}

#accueil h3 {
    padding-top: 20px;
}

#accueil main > div > :nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
}

#accueil main > :nth-child(3) div {
    display: flex;
    flex-wrap: wrap;
}

#accueil main > :nth-child(3) img {
    width: 100%;
}

#accueil main > :nth-child(3) div article {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 10px;
}

#accueil main > :nth-child(4) div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#accueil main > :nth-child(4) div img {
    width: 10%;
    object-fit: contain;
    padding: 20px;
}

#accueil main > :first-child img,
#accueil main > div > :first-child img {
    width: 100%;
    margin: 0;
    display: block;
}

#accueil section div {
    margin-top: 10px;
    padding: 0px 20px 20px 20px;
}

#accueil section h1, #accueil section h2 {
    text-indent: 20px;
    display: block;
    padding: 10px 0;
}

/* Escrime */

#escrime .horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#escrime section > figure,
#escrime section > h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#escrime section > figure img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#escrime section h1 {
    text-align: center;
    margin-bottom: 20px;
}

#escrime section > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

#escrime section > div > div {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

#escrime section > div > div > img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#escrime section > div > div > div > h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#escrime section > div > div > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#escrime section > div > div > div > ul > li {
    margin-bottom: 5px;
}

#escrime .horizontal section{
    width: 50%;
}

#escrime section div div div ul{
    color: black;
}

#escrime section ul, #escrime section table{
    width: 100%;
}


#escrime section > div > div img {
    transition: transform 0.3s ease;
}

#escrime section > div > div img:hover {
    transform: scale(1.1);
}

#escrime h1{
    width: 100%;
}

#escrime section > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#escrime section > figure img {
    max-width: 100px;
    height: auto;
}

#escrime section ul:not(#escrime section div div ul) {
    margin: 80px auto;
    padding: 10px;
    list-style: none;
    background-color: #574D80;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 6px black; 
}

#escrime section div div div li{
    background-color: #E0E0E0;
    border-radius: 8px;
}

#escrime .horizontal article{
    padding: 20px;
    margin: 10px;
    width: 48%;
    margin-bottom: 20px;
}

#escrime .horizontal section, 
#escrime .horizontal article {
    flex: 1;
    margin: 10px;
    width: 90%;
}

/* Sportif */

h1, h2, #Sportif section:nth-child(3) h2 {
    background-color: #796BB3;
}

#Sportif main {
    margin: 0;
    padding: 0;
}

#Sportif a {
    text-decoration: none;
    color: white;
}

#Sportif a:hover {
    color: #796BB3;
}

#Sportif section {
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    background-color: #574D80
}

#Sportif section:nth-child(2) h1, #Sportif section:nth-child(3) h1, #Sportif section:nth-child(4) h1{
    background-color: #574D80;
}

#Sportif section:nth-child(1) {
    display: grid;
    align-items: stretch;
    grid-template-columns: 3fr 7fr;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
}

#Sportif section:nth-child(1) > div + div {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first second"
                         "third fourth ";
}

#Sportif #portrait {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    margin: 1em;
    padding: 1em;
    background-color: #796BB3;
    border-radius: 8px;
    overflow: hidden;
}

#Sportif img {
   object-fit: cover;
   border-radius: 8px;
}

#Sportif article {
    width: auto;
    border-radius: 8px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    background-color: #796BB3;
}

#Sportif th {
    padding: 1em;
}

#Sportif article:nth-child(1) {
    grid-area: first;
}

#Sportif article:nth-child(2) {
    grid-area: second;
}

#Sportif article:nth-child(2) > p {
    margin: 1em 0 1em 0;
    padding: 1em;
    border-radius: 30px;
    font-family: 'PARIS 2024';
}

#Sportif article:nth-child(3) {
    grid-area: third;
}

#Sportif article:nth-child(4) {
    grid-area: fourth;
}

#Sportif section:nth-child(2) {
    height: 30vh;
}

#Sportif section:nth-child(2) h2 {
    background-color: #574D80;
}

#Sportif section:nth-child(2) > h1 + div {
    display: grid;
    grid-template-columns: 1fr 7fr 7fr 7fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}

#Sportif section:nth-child(2) a, #Sportif section:nth-child(2) h2 {
    color: black;
}

#Sportif section:nth-child(2) a:hover {
    color: white;
}

#Sportif figure:nth-child(2) {
    grid-column: 2;
}

#Sportif figure:nth-child(3) {
    grid-column: 3;
}

#Sportif figure:nth-child(4) {
    grid-column: 4;
}

#Sportif section:nth-child(2) img {
    border-radius: 8px;
    width: 25vw;
    height: 25vh;
}


#Sportif div > figure > figcaption {
    color: white;
    position: relative;
    bottom: 2.75em;
    left: 1em;
    height: 0;
}

#Sportif section:nth-child(3) > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Sportif section:nth-child(3) > div > div {
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    background-color: #796BB3;
}

#Sportif section:nth-child(3) > div > div:nth-child(1) {
    grid-column: 1;
}

#Sportif section:nth-child(3) > div > div:nth-child(2) {
    grid-column: 2;
}

#Sportif section:nth-child(3) > div > div > div {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#Sportif section:nth-child(3) > div > img {
    grid-column: 2;
}

#Sportif section:nth-child(4) > div {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    #accueil main > div {
        display: block;
    }

    #accueil main > div > :nth-child(2) > div {
        grid-template: auto auto / 1fr 1fr;
    }

    #accueil main > :nth-child(3) > div {
        grid-template: auto auto auto / 1fr 1fr;
    }

    #Sportif header ul {
        flex-direction: column;
    }

    #Sportif header li {
        margin: 0.5em;
    }

    #Sportif header figcaption {
        text-align: center;
    }

    #Sportif #portrait {
        display: none;
    }

    #Sportif main {
        padding: 1em;
    }
    
    #Sportif section:nth-child(1) {
        grid-template-columns: 1fr;
    }
    
    #Sportif section:nth-child(1) > div + div {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "first"
        "second"
        "third"
        "fourth";
    }

    #Sportif section:nth-child(2) h1 + div {
        grid-template-columns: 1fr 5fr 1fr;
    }
    
    #Sportif figure:nth-child(2) {
        display: none;
    }

    
    #Sportif figure:nth-child(3) {
        grid-column: 2;
    }
    
    #Sportif figure:nth-child(4) {
        display: none;
    }
    
    #Sportif section:nth-child(3) div {
        grid-template: 1fr / 1fr;
    }

    #Sportif section:nth-child(3) > div > div:nth-child(1) {
        grid-row: 1;
    }

    #Sportif section:nth-child(3) > div > div:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }

    #Sportif section:nth-child(3) > div > div {
        grid-template-columns: 1fr;
    }

    #Sportif section:nth-child(3) > div  img {
        grid-column: 1;
        justify-self: center;
    }

    #Sportif footer {
        padding: 1em;
    }

    #escrime section{
        width: 100%;
        padding: 20px;
        margin: 20px;
    

    }

    #escrime .horizontal section, 
    #escrime .horizontal article {
        flex: 1 1 auto;
        margin: 10px auto;
        width: 90%;
    }

    #escrime .horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #escrime .horizontal article {
        width: 100%;
        margin-bottom: 20px;
        margin:0 auto 20px;
    }

    #escrime section table {
        width: 100%;
        margin-bottom: 20px;
    }

    #escrime section ul {
        margin-bottom: 20px;
        width: 100%;
    }

    #escrime section > div > div {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }

    #escrime section > div > div img {
        margin: 0 auto;
        display: block;
    }

    #escrime section > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #escrime section > div > div {
        width: 100%;
        margin: 0 auto;
    }

    #escrime .horizontal section{
        width: 100%;
    }

    #escrime .horizontal article{
        width: 100%;
    }

    #escrime header ul {
        flex-direction: column;
    }
}

#Discipline-fleuret header{
    background-color: #574D80;
}
#Discipline-fleuret article{
    background-color: #574D80;
    border-radius: 8px;
    width: 33%;
    color: white;
    margin: 10px;
    padding: 20px;
}
#Discipline-fleuret main > section{
    width: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#Discipline-fleuret section{
    background-color: #796BB3;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

#Discipline-fleuret table{
    border-collapse: collapse;
    border-radius: 10px;
    border: 10px solid #574D80;
    
}

#Discipline-fleuret td{
    padding: 10px;
    background-color: white;
    color: black;
}

#Discipline-fleuret th{
    background-color: #796BB3;
}

#Discipline-fleuret tr{
    height: 6vh;
}

#Discipline-fleuret main > :nth-child(2) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    display: inline-block;
    margin: 10px;
    padding: 20px;;
}

#Discipline-fleuret main > :nth-child(2) > div {
    display: flex;
}

#Discipline-fleuret section h2{
    border-radius: 10px 10px 0 0;
}

#Discipline-fleuret main > :nth-child(1) > p{
    margin: 20px;
}

#Discipline-fleuret main > :nth-child(3){
    float: left;
    width: 50%;
    padding: 0 0 10px 0;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#Discipline-fleuret main > :nth-child(3) h2{
    border-radius: 0%;
}


#Discipline-fleuret main > :nth-child(3)  article{
    width: 90%;
    align-items: center;
    margin: 25px;
}

#Discipline-fleuret main > :nth-child(4) > h2{
    margin: 0 0 10px 0;
}
#Discipline-fleuret main > :nth-child(4){
    margin-top: 20px;
}
#Discipline-fleuret main > :nth-child(4) article{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: #796BB3;
    width: 90%; 
}

#Discipline-fleuret main > :nth-child(4) article table{
    border-radius: 0;
    box-shadow: -5px 5px 5px rgb(0, 0, 0);
}







