@font-face {
    font-family: "Paris 2024";
    src: url("../polices/paris2024.woff2") format("woff2"),
         url("../polices/paris2024.woff") format("woff");
}

@font-face {
    font-family: "Helvetica World";
    src: url("../polices/helveticaworld.woff2") format("woff2"),
         url("../polices/helveticaworld.woff") format("woff");
}

body {
    font-family: 'Helvetica World', Helvetica, sans-serif;
    margin: 0;
    color: white;
}

header, h1, h2, h3, figcaption {
    font-family: "Paris 2024", Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

header {
    background-color: #0082C7;
    display: grid;
    grid-area: 1fr 4fr;
}

header > figure {
    grid-column: 1;
    text-align: center;
}

header > nav {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul, li {
    display: flex;
    padding: 0;
}

li {
    padding: 0 1vw  ;
}

a {
    text-decoration: none;
    color: white;
}

section {
    background-color: #0082C7;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
}

section:nth-child(1) {
    background-color: #0082C7;
    display: grid;
    align-items: stretch;
    grid-template-columns: 3fr 7fr;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
}

section:nth-child(1) > div + div {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first second"
                         "third fourth ";
}

#portrait {
    display: flex;
    align-items: stretch;
    justify-content: center;
    grid-column-start: 1;
    margin: 1em;
    padding: 1em;
    background-color: #3EB5F5;
    border-radius: 8px;
    overflow: hidden;
}

article {
    background-color: #3EB5F5;
    border-radius: 8px;
    padding: 2em;
    margin: 1em;
}

article:nth-child(1) {
    grid-area: first;
}

article:nth-child(2) {
    grid-area: second;
}

article:nth-child(3) {
    grid-area: third;
}

article:nth-child(4) {
    grid-area: fourth;
}

section:nth-child(2) > h1 + div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

figure:nth-child(1) {
    grid-column: 1;
}

figure:nth-child(2) {
    grid-column: 2;
}

figure:nth-child(3) {
    grid-column: 3;
}

div > figure > figcaption {
    position: relative;
    bottom: 2em;
    left: 1em;
}

section:nth-child(3) > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section:nth-child(3) > div > div {
    background-color: #3EB5F5;
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
}

section:nth-child(3) > div > div:nth-child(1) {
    grid-column: 1;
}

section:nth-child(3) > div > div:nth-child(2) {
    grid-column: 2;
}

section:nth-child(4) > div {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #0082C7;
    padding: 2em;
}